.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.error {
    color: red
}

input {
    height: 40px;
    min-width: 300px;
}

.submit {
    height: 40px;
    padding: 0 20px;
}